<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Index of /</title>
  </head>

  <body>
    <ul>
      <% @entries.sort.each do |entry| %>
        <li><a href="/<%= entry %>"><%= entry %></a></li>
      <% end %>
    </ul>
  </body>
</html>
